packages:
  yum:
    mod24_ssl: []
    epel-release: []

container_commands:
  1_install_certbot:
    command: "sudo dnf install -y certbot python3-certbot-nginx"
  2_create_cert_directories:
    command: "mkdir -p /etc/letsencrypt/live/api.smartproject.in.net/"
  3_get_certificate:
    command: "sudo certbot certonly --standalone --non-interactive --agree-tos --email admin@smartproject.in.net -d api.smartproject.in.net --keep-until-expiring"
  4_link_cert:
    command: |
      ln -sf /etc/letsencrypt/live/api.smartproject.in.net/fullchain.pem /etc/pki/tls/certs/server.crt
      ln -sf /etc/letsencrypt/live/api.smartproject.in.net/privkey.pem /etc/pki/tls/certs/server.key
  5_permissions:
    command: |
      chmod 644 /etc/pki/tls/certs/server.crt
      chmod 644 /etc/pki/tls/certs/server.key

Resources:
  sslSecurityGroupIngress: 
    Type: AWS::EC2::SecurityGroupIngress
    Properties:
      GroupId: {"Fn::GetAtt" : ["AWSEBSecurityGroup", "GroupId"]}
      IpProtocol: tcp
      ToPort: 443
      FromPort: 443
      CidrIp: 0.0.0.0/0 